<%= form_with(model: @property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div class="error_explanation">
      <h2><%= property.errors.conunt %>件のエラー</h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <br>
    <%= form.number_field :rent %>円
  </div>

  <div class="field">
    <%= form.label :address %>
    <br>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <br>
    <%= form.number_field :age %>年
  </div>

  <div class="border_new">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content %>
  </div>


  <% @tag_number = 1 %>
  <%= form.fields_for :stations do |station| %>
    <h2>最寄り駅<%= @tag_number %></h2>
    <% @tag_number += 1 %>
    <div class="line_name">
    <%= station.label :路線名 %><br>
    <%= station.text_field :line_name %>
  </div>
  <div class="station_name">
    <%= station.label :駅名 %><br>
    <%= station.text_field :station_name %>
  </div>
  <div class="minutes_on_foot">
    <%= station.label :徒歩分数 %><br>
    <%= station.text_field :minutes_on_foot %>分<br>
  </div>
  <% end %>
  <br>
  <%= form.submit '登録する' %>
<% end %>
